.navbar__image__container {
  display: flex;
  flex-direction: row;
  margin-top: 22px;
  border-bottom: 5px solid #1479ff;

  .image {
    width: 140px;
    left: 25px;
    top: 47px;
    border-radius: 7px 7px 0px 0px;
    background: #dde8f8;
    margin-left: 6px;

    .svg__image {
      margin-top: 12px;
      fill: #193B68;
    }

    p {
      padding-bottom: 12px;
    }
  }

  .image:hover {
    background: #1479ff;
    cursor: pointer;
  }

  .image__selected {
    background: #1479ff;
    width: 140px;
    left: 25px;
    top: 47px;
    border-radius: 7px 7px 0px 0px;
    margin-left: 6px;

    .svg__image {
      margin-top: 12px;
    }

    p {
      padding-bottom: 12px;
      color: #fff;
    }
  }
}
